/* CSS Document */
body{
	background:#000 url(../img/bg1.jpg);
	padding:0; margin:0; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:62.5%;
	}
	
.pds{
	font-size:1.2em;
	width:1200px; margin:0 auto;
	height: 500px;
	}
	
.bg1{ background:url(../img/bg.jpg) repeat-x; }

.m{ background:url(../img/t2.jpg) no-repeat; height:78px;}
.m ul{ list-style:none; padding:10px 30px; margin:0; }
.m li{ float:left; display:inline; } 
.m li{ display:inline-block; background:url(../img/m.gif) no-repeat left center; font-size:1.5em;  font-family:Arial, Helvetica, sans-serif; text-decoration:none; color:#613B0F; padding:15px 30px 15px 32px; } 
.m li:hover{ color:#000; background:url(../img/m2.gif) no-repeat left center; }
.s{ background:url(../img/tlo.jpg); height:100%; padding:15px 15px 10px 65px;  }
.left{ width:215px; float:left; color:#D49479; position:relative}
.right{ float:left; width:850px; padding-left:22px; }

#container{
	color:#3B1606; line-height:1.6em;
	position: relative;

}
a{ color:#993300;  }
.ng{ font-size:1.5em; font-family:Arial, Helvetica, sans-serif; margin:0px; padding:6px 5px; border-bottom:3px double #993300; font-weight:normal; font-style:italic; }

.both{ clear:both; }



#footer {
	background: url(../img/stopka.jpg);
	height: 78px;

}

#footer p {
	color: black;
text-align: right;
	margin: 0 50px 0 0;


}

#chat {
	position: absolute;
	width: 200px;
	height: 500px;
	top: 30px;
	left: 0;

}

#chatMessages {
	margin: 5px;
	width: 185px;
	height: 220px;
	overflow-y: scroll; 
}

#chatMessage {
	width:120px;
	margin: 5px;

}

#AwesomeGame {
  
    border: 5px red dotted;

}

#banner {
	position: relative;
	background: url(../img/t1.jpg);
	height: 230px;
}

#list {
	width: 190px;
	height: 130px;
	position: absolute;
	left: 0;
	top: 300px;
}

#list p {
	padding: 2px;
	margin: 0;
	margin-left: 20px;
	font-size: 0.8em;
}

#list h5 {
	padding: 2px;
	margin: 0;
	margin-left: 40px;
	font-size: 18px;
}
#lol {
	position: absolute;
	top: 100px;
	left:700px;

}

#carImage {
	background: url(../img/greenCar.png) no-repeat;
	width: 256px;
	height: 256px;
	position: absolute;
	left: 900px;
	top: 150px;
}
