
body {
    background: url("../media/tlo2.jpg");
}

#banner {
    background: url("../media/baner.png");
    width: 380px;
    height: 140px;
    position: absolute;
    left: 100px;
}

#list {
	border: 1px red solid; 
	width: 380px;
	height: 140px;
	position: absolute;
	left: 495px;	
}

#list p {
	padding: 2px;
	margin: 0;
	margin-left: 20px;
	font-size: 0.8em;
}

#list h5 {
	padding: 2px;
	margin: 0;
	margin-left: 40px;
	font-size: 18px;
}

#container {
	border: 1px red solid;
    margin: 0px auto;
    width: 1200px;
    height: 800px;
  
    position: relative;
}

#AwesomeGame {
    position: absolute;
    top: 150px;
    left: 0px;
    border: 1px blue solid;

}

#gameOver {
	position: absolute;
	border: 5px red dotted;
	top: 250px;
	left: 300px;
	
}

#returnToSite:hover {
	background: red;
}

#chat {
	position: absolute;
	border: 1px red solid;
	width: 200px;
	height: 300px;
	top: 150px;
	left: 850px;

}

#chatMessages {
	margin: 5px;
	width: 185px;
	height: 220px;
	overflow-y: scroll; 
}

#chatMessage {
	width:120px;
	margin: 5px;

}
